/* ADD YOUR STYLES HERE */

  

.first_table {
	width: 100px;
	padding-bottom: 10px;
	padding-top: 10px;
	
}
.bottom_gray_border {
	border-bottom: 1px solid gray;
}

.top-gray-border {
	border-top: 1px solid gray;

}

.padding_first_table {
	padding: 10px 30px ;
}

.prominent-text {
	font-size: 28px;
	font-weight: 900;

}

.less-promintent-text {
	font-size: 10px;
	font-weight: 100;

}

.text-center { 
	text-align: center;
}
/*//Bar Graph*/

.bars-appearance {
	background-color: lightblue;
	text-align: right;
	
}

.bar-titles-appearance th {
	text-align: right;

}.bar-titles-appearance div {
	background-color: lightblue;
	text-align: right;
}

/*.table-size td {
	width:  100%;
	padding: 1px;

}*/

/*//Lightbox*/

/*.outer-box {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top:  0;
	left: 0;
 	height: 100%;
 	padding: 250px;


}

.inner-box {
	background-color: #ffffff;
	height:  auto;
	width:  auto;
	padding: 10px;
	position: relative;
	overflow: auto;

}

.close-button {
     background-color: pink;
     height: 30px;
     width: 50px;
     padding: 10px;
     border-radius: 15px;
     color: white;
     float: right;
     font-style:  normal;
     text-decoration: none;
}		

.inline-block {
	display: inline-block;*/
/*}*/
/* Media Block */

.img-media-box {
	float: left;
		
	
}

.text-media-block {
	overflow: hidden;
	padding-left: 10px;
	position:  relative;
	
}

.header-media-block {
	overflow: hidden;
	padding-left: 13px;

}

/*nested media box*/

.image-media-box-text {
	overflow: hidden;
	position: relative;
}

.img-media-box-indented {
	float: left;
	
}





































